.book-wrapper {
  width: 200px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.book-wrapper:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.name,
.price {
  font-weight: bold;
}

.price {
  color: rgb(104, 103, 103);
}

.price::after {
  content: " CAD";
}

.category {
  padding: 8px;
  background-color: rgb(240, 237, 237);
}
